*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.landing{
    background-image: url("../images/graduation.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    display: flex;
   
   
}



footer{
    
}
.jumbotron{
    background: rgba(255, 166, 0, 0.733);
    position: relative;
    
}

.jumbotron h1{
    color:rgb(241, 240, 227);
    font-size: 80px;
    /* margin-top: 20%; */
    background-color:rgba(207, 165, 26, 0);
  
   margin-left: 0;
    
    text-align: left;
    width: 100%;
    text-shadow: rgb(7, 7, 7);
    margin-top: -4px;
    display: flex;
    
 
   
    
}
.navbar{
    font-weight: bolder;
    background: rgba(41, 134, 25, 0.733);
}
a.btn{
    font-size: 30px;
    align-self: center;
    align-content: center;
    /* margin-left: 50vh; */
    background: rgba(41, 134, 25, 0.733);
    margin-top: 10px;
    color: white;
    border:2px;
    /* display: flex; */
    /* padding: 1px; */
}

p.lead{
    color: rgb(250, 249, 248);
    font-weight:inherit;
    margin-left: 5px;
    position: absolute;
    
}

.container{
    background:rgba(173, 170, 163, 0.733) ;
    
    border-radius: 10px;
    
    margin-top: 20vh;
    
}
body{
    background: rgba(255, 166, 0, 0.733);
}
h2.text{
    color: white;
    margin-top: 5px;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
}

form#registerUser{
    align-items: center;

}

a.register{
    padding-top: 10px;
    margin-top: 5px;
}
button#login{
    padding-bottom: 10px;
    margin-bottom: 10px;
}